<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prueba</title>
        <link href="/public/css/miestilo.css" rel="">
    </head>
    <body>
        <h1>HTML y CSS</h1>
        <h2>Etiquetas de Titulos y Parrafos</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eligendi perspiciatis debitis? Voluptas perspiciatis est magni cupiditate ex vel esse, ea delectus nostrum ratione quibusdam commodi, alias expedita, nihil consequuntur.
        </p>
        <h3>prueba de heading 3</h3>
        <h4>prueba de heading 4</h4>
        <h5>prueba de heading 5</h5>
        <h6>prueba de heading 6</h6>
        <h2>Listas</h2>
        <h3>Pentateuco</h3>
        <ol>
            <li>Genesis</li>
            <li>Exodo</li>
            <li>Levitico</li>
            <li>Números</li>
            <li>Deuteronomio</li>
        </ol>
        <ul>
            <li>Adán</li>
            <li>Eva</li>
            <li>Cain</li>
            <li>Abel</li>
            <li>Set</li>
        </ul>
        <h2>Enlaces</h2>
      




        
    </body>
</html>