<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enlaces</title>
</head>
<body>
    <h1>Enlaces</h1>
    
    <a>ancla</a>
    <br>
    <b>Sola solo sirve para texto</b>
    <br>

    <a href="../views/home.html">Unipagina</a>
    <br>
    <b>Cuando la usamos asi, abre la pagina sobre la actual.</b>
    <br>
    <a href="../views/home.html" target="_blank">nueva ventana</a>
    <br>
    <b>Cuando la usamos asi, abre una pagina nueva.</b>
    <br>
    <a href="../views/home.html" target="_self">es lo mismo que nada o por defecto</a>
    <br>
    <b>Cuando la usamos asi, abre la pagina sobre la actual.</b>
    <br>
    <a href="views/home.html" target="_top">es lo mismo que nada o por defecto</a>
    <br>
    <b>Cuando la usamos asi, abre la pagina sobre la actual.</b>
    <br>    
    <img src="/public/img/jpg/img001.jpg" alt="Foto" title="mala compañia"><br>
    <b>ruta relativa</b>
    <br>
    

    <a href="https://youtu.be/ELSm-G201Ls">Ruta absoluta</a>
    
</body>
</html>