<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
</head>
<body>
    <form>
        <label>required, value, minimo largo</label><input type="text" value="Nombre" minlength="2" required><br>
        <label>name</label><input type="color" name="color"><br>
        <label>placeholder</label><input type="email" placeholder="Correo electronico"><br>        
        <label>maximo largo</label><input type="password" maxlength="10"><br>        
        <input type="checkbox"><br>        
        <input type="radio"><br>
        <input type="file"><br>
        <input type="date"><br>
        <input type="submit">
    </form>
    
</body>
</html>