<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <h1>Listas</h1>
        <h2>Lista Ordenada</h2>
        <ol>
            <li>Genesis</li>
            <li>Exodo</li>
            <li>Levitico</li>
            <li>Números</li>
            <li>Deuteronomio</li>
        </ol>
        <h2>Lista no ordenada</h2>
        <ul>
            <li>Adán</li>
            <li>Eva</li>
            <li>Cain</li>
            <li>Abel</li>
            <li>Set</li>
        </ul>
    
</body>
</html>